<!DOCTYPE html>
<html ng-app="app" lang="en">

    <head>
        <title>Main page</title>
        <meta charset="UTF-8">

        <script src="/scripts/angular.min1.8.0.js"></script>
<!--        <script src="/scripts/angular-cookies1.7.0.js"></script>-->
        <script src="/scripts/bootstrap.bundle.min.js"></script>
        <script src="/scripts/angular-route.min1.8.0.js"></script>
        <script src="/scripts/ngStorage.min-0.3.11.js"></script>
<!--        <script src="/scripts/angular1.7.0.js"></script>-->
<!--        <script src="/scripts/angular-route.min1.7.0.js"></script>-->

        <link rel="stylesheet" href="/scripts/bootstrap.min.css">

        <script src="index.js"></script>
        <script src="products.js"></script>
        <script src="cart.js"></script>
        <script src="checkout.js"></script>
        <script src="orders.js"></script>
        <script src="signup.js"></script>
        <script src="welcome.js"></script>

    </head>

    <body>
        <div class="container" ng-controller="indexController">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/static" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#!/" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="#!/products" class="nav-link px-2 link-dark">Products</a></li>
                    <li><a href="#!/cart" class="nav-link px-2 link-dark">Cart</a></li>
                    <li><a href="#!/orders" class="nav-link px-2 link-dark">Orders</a></li>
                    <li><a href="#!/about" class="nav-link px-2 link-dark">About</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <div ng-show="!isUserLoggedIn() && !showLoginPanel">
                        <button type="button" class="btn btn-outline-primary me-2" ng-click="wantToLogIn()">Login</button>
                        <button type="button" class="btn btn-primary" onclick="window.location.href='#!/signup'">Sign-up</button>
                    </div>
                    <form class="align-middle" ng-submit="tryToAuth()" ng-show="showLoginPanel">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text">
                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password">
                            <button type="submit" class="btn btn-outline-primary me-2">Login</button>
                            <button type="button" class="btn btn-outline-secondary me-2" ng-click="hideLoginPanel()">🡰</button>

                        </div>
                    </form>

                </div>

                <div class="dropdown text-end" ng-show="isUserLoggedIn()">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/default.png" alt="nickname" width="48" height="48" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item">[{{username}}]</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#!/profile">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" ng-click="tryToLogout()">Sign out</a></li>
                    </ul>
                </div>

            </header>
        </div>

        <ng-view></ng-view>

    </body>
</html>