


<div class="container form-signin w-100 m-auto" style="margin:0 auto;text-align:center">
<!--    <link href="signup.css" rel="stylesheet">-->
    <form ng-submit="registerUser()" style="max-width: 330px;margin-left:auto;margin-right:auto;text-align:center; margin-top: 15%">
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingEmail" placeholder="email" ng-model="newUser.email">
            <label for="floatingEmail">Email</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" ng-model="newUser.username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" ng-model="newUser.password">
            <label for="floatingPassword">Password</label>
        </div>


        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
</div>